@use '../base/variables' as *;
@use '../base/mixins' as *;
@import '../components/_header.scss' ;

body {
    // exemple pour utilisation varaibles couleurs
    background-color: $color-black;

    // exemple pour font size 
    @include font-size(20);

    // exemple pour media query responsive layout
    @include tablet {
        background-color: $color-gray;
    }
    @include desktop {
        background-color: $color-light-gray;
    }
}