@use '../base/variables' as *;
@use '../base/mixins' as *;

.title {
    color: red;
    @include font-size(20);

    @include desktop {
        color: green;
        @include font-size(40);
    }
    @include tablet {
        @include font-size(30);
        color: blue;
    }
}