@use '../base/_variables' as *;
@use '../base/_mixins' as *;

.music-section {
  // background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), transparent), url('/images/texture-01.png');
  // background-size: cover;
  // background-repeat: repeat;
  // background-color: $color-light-black;
  border-top: 1px solid $color-primary;
  border-bottom: 1px solid $color-primary;
  
    &__wrapper {
        padding: 25px 20px;
        max-width: 1140px;
        margin: 0 auto;
        @include desktop {
            padding: 50px 20px;
        }
    }

    &__text {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 30px 0 40px;
        font-family: $font-archivo;
        font-weight: 100;
        @include desktop {
          margin: 60px 0 70px;
        }

        h2 {
            @include font-size(18);
            margin-bottom: 10px;
            color: $color-primary;
            text-transform: uppercase;
            
            @include desktop {
                @include font-size(40);
            }
        }
        
        p {
            color: $color-white;
            @include font-size(14);
            @include desktop {
              @include font-size(16);
            }
        }
    }
  

  &__carousel {
    margin: 0 auto;
    position: relative;
    height: 100%;
    overflow: hidden;
    // max-width: 950px;
    .slick-list {
      overflow: visible;
    }

    .slick-track {
      display: flex;
      align-items: center;
      min-height: 300px;
      height: 300px;
      @include desktop {
        min-height: 430px;
        height: 430px;
      }
    }
    
    .slick-slide {
      transition: transform 0.3s ease, opacity 0.3s ease;
      opacity: 0.4;
      transform: scale(0.6);
      display: flex !important;
      justify-content: center;
      align-items: center;

      .music-section__content {
        text-align: center;

        img {
          aspect-ratio: 1 / 1;
          object-fit: cover;
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
          transition: transform 0.3s ease;
        }

        .music-section__meta {
          margin-top: 5px;
          @include desktop {
            margin-top: 35px;
          }

          h3 {
            color: $color-primary;
            text-transform: uppercase;
            @include font-size(16);
            margin: 0;
          }

          p {
            color: $color-white;
            @include font-size(14);
            margin: 0;
          }
        }
      }
    }

    .slick-center {
      transform: scale(1) !important;
      opacity: 1 !important;

      img {
        transform: scale(1.4);
        aspect-ratio: 1 / 1;
      }
      
      .music-section__meta {
        margin-top: 30px;
        @include desktop {
            margin-top: 50px!important;
        }
      }
    }
  }
}

