// 🎨 Palette principale : Tu définis ici toutes les valeurs réutilisables : couleurs, tailles, typos…
$color-black: #000000;
$color-light-black: #292929;
$color-white: #ffffff;
$color-dark-white: #f2f2f2;

$color-primary: #fcff00;

$font-editorial: 'PPEditorialOld', serif;
$font-pacific: 'PPNikkeiPacific', serif;
$font-journal: 'PPNikkeiJournal', serif;
$font-line: 'PPNikkeiLine', serif;
$font-maru: 'PPNikkeiMaru', serif;