// 🎨 Palette principale : Tu définis ici toutes les valeurs réutilisables : couleurs, tailles, typos…
$color-black: #000000;
$color-white: #ffffff;
$color-gray: #1a1a1a;
$color-light-gray: #dcdcdc;

$font-editorial: 'PPEditorialOld', serif;
$font-pacific: 'PPNikkeiPacific', serif;
$font-journal: 'PPNikkeiJournal', serif;
$font-line: 'PPNikkeiLine', serif;
$font-maru: 'PPNikkeiMaru', serif;